.header-container{
    display: flex;
    flex-direction: row;
    padding: 35px;
    &__logo{
        height: 65px;
        width: 65px;
    }

    &__title{
        font-size: 35px;
        padding-left: 10px;
        margin: auto 0 auto 0;
    }
    
}