/* CSS of the Banner function. The main container 
is set on position relative so the text position will be absolute 
to it and position with the top and right settings*/
.banner-container{
    position: relative;
    height: 300px;
    width: 900px;
    margin: 0 auto;
        @media only screen and (max-width: 960px) {
        margin: 20px 20px;
        width: inherit;
    };
    &__image{
        // display: block;
        object-fit: cover;
        border-radius: 25px;
        height: 300px;
        width: 100%;
    }
    &__title{
        position: absolute;
        color: white;
    top: 40%;
    left: 30%
    // left: 30%;
    //         @media only screen and (max-width: 700px) {
    //     font-size: 30px;
    // };
}
}